<%- include('../main/header.ejs') %>
    <%- include('../main/navbar.ejs') %>
    <link rel="stylesheet" href="/stylesheets/order.css">
        <!-- Post cards format -->
        <div class="wrapper">
            <h1 class="orderTitle">Details of your order.</h1>
            <div class="product">
                <div class="h4">Deliver Info</div>
                <div class="orderStatus">
                    <p>Order Status: <%= order.status %></p> 
                </div>
                <div class="date">
                    <p>Order placed: <%= new Date(order.createdAt).toLocaleString() %></p>
                </div>

                <ul class="list-group">
                    <li class="list-group-item" style="overflow-wrap: break-word;">
                        <b>Address</b>: <%= order.address %>
                    </li>
                    <li class="list-group-item" style="overflow-wrap: break-word;">
                        <b>Email</b>:  <%= order.email %>
                    </li>
                    <li class="list-group-item" style="overflow-wrap: break-word;">
                        <b>Phone</b>:  <%= order.phone %>
                    </li>
                </ul>
            </div>


        </div>

            <!--Product section-->
            <div class="wrapper">
                <% order.products.forEach( item => { %>
                    <div class="product">   
                        <div class="productDetails">
                            <!--image-->
                            <img src="<%= item.productId.mainImg%>" alt="<%= item.productId.name %>" width="160">
                            <!--product name and price-->
                            <div class="nameAndPrice">
                                <div class="productName">
                                    <h5>
                                        <%= item.productId.name %>
                                    </h5>
                                </div>
                                <div class="prices" style="font-weight: bold;">
                                    $<%= item.productId.price.toFixed(2) %>
                                </div>
                                <div class="quantity">
                                    Quantity: <%= item.quantity %>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <% }) %>
                <!--Fix price bar-->
                <div class="fixPriceBar">
                    <div class="totalPrice">
                        <div>Total price</div>
                        <div class="totalPrice" id="fixBarPrice">$<%= order.total %></div>
                    </div>
                    <% if (typeof userId=="undefined" || userId==null) { %>
                        <% } else {%>
                            <% if (order.userId.toString() == userId ) { %>
                                <form action="/order/update?_method=PUT" method="post">
                                    <input type="text" value="<%= order._id %>" name="orderId" hidden>
                                    <input type="text" value="Cancel" name="status" hidden>
                                    <button class="cancel" type="submit">Cancel Order</button>
                                    </form>
                                <% }} %>
                </div>
            </div>
        </div>
        

        <%- include('../main/footer.ejs') %>