<%- include('../main/header') %>
    <%- include('../main/navbar') %>
        <link rel="stylesheet" href="/stylesheets/createPost.css">

        <!--CSS-->
        <style>
            #postList {
                min-height: 300px;
            }

            .dark-mode #postList {
                color: white !important;
            }

            .dark-mode #postTitle {
                color: white;
            }
        </style>

        <div id="postTitle">
            <h1>Your Archive Post</h1>
        </div>

        <!-- Post cards -->
        <div id="postList">
            <div class="container">
                <div class="row justify-content-start align-items-center g-2">
                    <div class="col-lg-4 col-md-6 col-sm-6">

                        <select id="sortSelect" class="form-select sortDay">
                            <option value="desc">Sort Descending By Date</option>
                            <option value="asc" selected>Sort Ascending By Date</option>
                        </select>
                    </div>



                    <div id="postContainer">
                        <% posts.forEach((post)=> { %>
                            <% if (post.authorId.active===false) { %>
                                <div class="col-lg-12 col-md-12 col-sm-12"
                                    id="<%= new Date(post.createdAt).toLocaleString() %>">
                                    <%- include('./components/card.ejs', { item: post }) %>
                                </div>
                                <% } %>
                                    <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const postsContainer = document.getElementById('postContainer')
                const sortSelect = document.getElementById('sortSelect')


                const sortByCreatedAt = (order) => {
                    const posts = Array.from(postsContainer.children)

                    posts.sort((a, b) => {
                        const createdAtA = Date.parse(a.id)
                        const createdAtB = Date.parse(b.id)

                        if (order === 'asc') {
                            return createdAtA - createdAtB
                        } else {
                            return createdAtB - createdAtA
                        }
                    })

                    while (postsContainer.firstChild) {
                        postsContainer.removeChild(postsContainer.firstChild)
                    }

                    posts.forEach((post) => {
                        postsContainer.appendChild(post)
                    })
                }

                sortSelect.addEventListener('change', (event) => {
                    const selectedOrder = event.target.value
                    sortByCreatedAt(selectedOrder)
                })
            })
        </script>

        <%- include('../main/footer') %>