<!-- CSS -->
<link rel="stylesheet" href="/stylesheets/category.css">

<!-- Category -->
<div class="category" id="<%= category %>">
    <h2>
        <%= category %>
    </h2>
        <div class="categoryWrapper"  loading="lazy">
            <!-- Category control button -->
            <div class="categoryScrollButton">
                <div class="categoryLeft">
                    <button id="categoryButtonLeft" class="btn btn-primary categoryButtonLeft"><i
                            class="fa fa-arrow-left" aria-hidden="true" style="text-align: center;"></i></button>
                </div>
                <div class="categoryRight">
                    <button id="categoryButtonRight" class="btn btn-primary categoryButtonRight"><i
                            class="fa fa-arrow-right" aria-hidden="true" style="text-align: center;"></i></button>
                </div>
            </div>

            <!-- Category items -->
            <div id="<%= category %>" class="categoryItems">
                <% products.forEach((e, index)=> { %>
                    <div class="categoryCard" data-index="<%= index %>" id="<%= category %>">
                        <%- include('../main/card.ejs', { card: e }) %>
                    </div>
                    <% }) %>
            </div>
        </div>
</div>

<!-- JS -->
<script src="/js/category.js"></script>